@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


/* colors 
#676464
#A79999
#D0C9B2
#AAAAAA
#A79899
#3a6561
*/

body {
    background-color: #ACD9D8;
    overflow-x: hidden;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 120px;
    font-weight: bold;
    color: #3a6561;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
    font-weight: 600;
    color: #3a6561;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-weight: 600;
    color: #508882;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #707070;
}

h5 {
    margin-top: 1.2em;
    margin-bottom: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #707070;

}

h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #3a6561;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #000000;
}
th {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #000000;
}
td{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #000000;
}
table{
    border-color: #508882 !important;
    border-radius: 15px;
    box-shadow: 0px 9px 9px #00000029;
}

li {

    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #000000;

}

header {
    background-color: #ACD9D8;
}

footer {
    background-color: #ACD9D8;
}

hr {
    height: 1px;
    border: none;
    opacity: 1;
    background-color: #3a6561;
}

img{
    /* filter for blackness */
    filter: brightness(50%);
}

/* Classes */


.slide-label{
    color: white;
}
.btn-primary{
    background-color: #3a6561;
    border-color: #3a6561;
}

.logo {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #3a6561;
}

.hero {
    background-color: #ACD9D8;
}


.projectOverview {
    border-radius: 129px 129px 0px 0px;
    background: #F8F4EB 0% 0% no-repeat padding-box;
}

.timeline {
    border-radius: 129px 129px 0px 0px;
    background: #E7D7F1 0% 0% no-repeat padding-box;
}

.design {
    border-radius: 129px 129px 0px 0px;
    background: #daf1d7 0% 0% no-repeat padding-box;
}

.postLaunch {
    border-radius: 129px 129px 0px 0px;
    background: #F4CEC3 0% 0% no-repeat padding-box;
}

.launchPlan {
    border-radius: 129px 129px 0px 0px;
    background: #f3f4c3 0% 0% no-repeat padding-box;
}

.card {
    border: none;
    box-shadow: 0px 9px 9px #00000029;
    background: #FCFCFC 0% 0% no-repeat padding-box
}


.accordion-button.collapsed::after {
    height: 50px;
    width: 50px;
    background-size: 50px;
    background-image: url("./assets/icons8-plus-100.png");
}

.accordion-button:not(.collapsed)::after {
    height: 50px;
    width: 50px;
    background-size: 50px;
    background-image: url("./assets/icons8-minus-96.png");

}

.postLaunchGrid {
    display: grid;
    grid-template-columns: 0.8fr 0.8fr 1.4fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "payment marketing codebase"
        "design website codebase";
}

.codebase {
    grid-area: codebase;
}

.payment {
    grid-area: payment;
}

.marketing {
    grid-area: marketing;
}

.design {
    grid-area: design;
}

.website {
    grid-area: website;
}


.custom-card {
    background-color: white;
    border-radius: 25px;
    border: none;
    box-shadow: 0px 9px 9px #00000029;
    background: #FCFCFC 0% 0% no-repeat padding-box;
    padding: 45px;
    margin: 10px;
}

.goals-highlight {
    background-color: #f9cb9c;
}

.audience-highlight {
    background-color: #9fc5e8;
}

.important-highlight {
    background-color: #b6d7a8;
}

.features-highlight {
    background-color: #ea9999;
}

.nav-tabs {
    border-color: #3a6561;
}

.nav-link {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #3a6561;
}

/* .nav-link:hover {
    background-color: #3a6561;
    color: white;
}

.nav-link[selected] {
    background-color: #3a6561;
    color: white;
} */


/* Custom CSS to make the first column of a table sticky */
.table-responsive {
    overflow-x: auto;
  }
  
  .table thead th:first-child, 
  .table tbody td:first-child {
    position: sticky;
    left: 0;
    background-color: #fff; 
    z-index: 2;
  }
  
  /* This is to ensure the z-index of the sticky column is higher than the other elements */
  .table thead th {
    z-index: 1;
  }
  
  .table-responsive::-webkit-scrollbar {
    height: 0.75rem;
  }
  
  .table-responsive::-webkit-scrollbar-thumb {
    background: #adb5bd;
    border-radius: 0.75rem;
  }
  
  .table-responsive::-webkit-scrollbar-track {
    background: transparent;
  }
  


/* IDs */

#MenuItem .nav-link:active {
    background-color: #3a6561;
    color: white;
}

#NavButton {
    background-image: url('./assets/icons8-hamburger.svg');
    height: 50px;
    width: 50px;
}


#navbar-custom {
    background-color: #ACD9D8;
    /* border-bottom: solid #3a6561; */
}

/* media query for mobile */
@media only screen and (max-width: 991px) {
    .card {
        margin-top: 20px;
        margin-bottom: 20px;
    }


}

@media only screen and (max-width: 600px) {
    .card {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 70px;
    }

    h2 {
        font-size: 30px;
        text-align: center;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 15px;
    }

    h5 {
        font-size: 15px;

    }

    h6 {
        font-size: 10px;
    }

    p {
        font-size: 15px;
    }

    li {
        font-size: 15px;
    }

    .accordion {
        margin-top: 50px;
    }

}
